body {
    /* Everything is Raleway */
    font-family: 'Raleway', sans-serif;
    text-align: center;
    background: #fcfcfa;
    color: #818078;
    font-family: Futura, sans-serif;
  }

  .navbar-brand {
    font-size: 30px;
  }

h1 {
font-family: 'oswald';
}

h3 {
  font-family: 'oswald';
  }

table{
    width:100%;
}

.card-img-top{
    align-self: center; 
    width: 10%;
}

.today{
color:white;
}

.card-img{
width: 100%;
align-self: center; 
}